{{page-title "Frontend"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<button {{on 'click' this.toggle}}>Click me</button>

<Update @collapsed={{this.hidden}}></Update>
